<%- include('../includes/head.ejs') %>
<main class="register-main">
  <div class="register-container">
    <h2>Register</h2>
    <form class="register-form" action="/signup" method="post" novalidate>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" />
      </div>
      <div>
        <% if (errorMessage) { %>
        <div>
          <p class="error-message"><%= errorMessage%></p>
        </div>
        <%} %>
        <button class="primary" type="submit">Register</button>
        <a id="auth-a" href="/login" class="">Do you have a account?</a>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      </div>
    </form>
  </div>
</main>

<%- include('../includes/footer.ejs') %>
