<form action="/cart" method="post">
  <input type="hidden" name="productId" value="<%= product._id %>" />
  <button type="submit" class="primary">
    <i class="fa-solid fa-cart-shopping"></i>
  </button>
</form>


