<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/navigation.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/product-detail.css" />
    <link rel="stylesheet" href="/css/cart.css" />
    <link rel="stylesheet" href="/css/order.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/logout.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header class="header">
      <nav class="navigation">
        <h1 class="logo"><i class="fa-solid fa-signature"></i>Shop</h1>
        <ul>
          <li>
            <a href="/">Shop</a>
          </li>

          <% if(isLoggedIn){ %>
          <li>
            <a href="/cart">Cart</a>
          </li>
          <li>
            <a href="/orders">Orders</a>
          </li>
          <li>
            <a href="/admin/add-product">Add Product</a>
          </li>
          <li>
            <a href="/admin/product-list">Admin Products</a>
          </li>
        </ul>
        <ul>
          <form action="/logout" method="post">
            <li>
              <button id="logoutButton">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <i class="fa-solid fa-right-from-bracket"></i>
              </button>
            </li>
          </form>
        </ul> 
        <% }else{ %> 
        </ul>

        <ul>
          <li>
            <a href="/login"><i class="fa-solid fa-user"></i></a>
          </li>
        </ul>
        <% } %>
      </nav>
    </header>
    <!--  -->
  </body>
</html>
