<%- include('includes/head.ejs',{isLoggedIn:isLoggedIn}) %>
<main class="error-main">
  <h1 class="error-header">500</h1>
  <h1 class="error-message">Some error occured!</h1>
  <p class="error-p">
    We're working on fixing this, sorry for the inconvenience!
  </p>
</main>
<%- include('includes/footer.ejs') %>
